.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
    border-radius: 50%;
    zoom: 1;
}
.navbar .profile{
    width: 80px;
    border-radius: 50%;
}